<!DOCTYPE html>
<html>
<head>
  <title>RailsHangman</title>
  <!-- <%= @game.word%> -->
  <%= @game.masked_word.map { |x| x ? x : '_' }.join(' ') %>
<!--   <%= t = text_area("", "/test") %>
  <%= button_to("Submit guess", "/guess") %> -->
</head>
<body>

<%= yield %>

</body>
</html>