<!DOCTYPE html>
<html>
<head>
  <title>RailsHangman</title>
  <!-- <%= @game.word%> -->
  <h1 class="title"> Hangman </h1>
  <div class="hangman">
    <br>
    <p class="guess"> <%= @game.masked_word.map { |x| x ? x : '_' }.join(' ') %> </p>
    <p> Guessed Letters: <%= @game.letters.join %> </p>
    <p> Lives Left: <%= @game.lives_remaining %>
    <% if !@game.game_over? %>
      <%= form_tag(game_url+"/guess") do %>
        <%= label_tag(:letter, "Enter Guess:") %>
        <%= text_field_tag :letter, "", pattern: /^[A-Za-z]$/, :class => "form-control", :maxlength => 1, :autofocus => true%>
        <%= submit_tag("Submit") %>
      <% end %>
      <br>
    <% else %>
    <div class="game_over">
      <p> <%= @game.end_message %> </p>
      <p> The word was: <%= @game.word %></p>
    </div>
      <%= button = button_to("New Game?", '/games') %>
    <% end %>
</div>
</head>
<body>

<%= yield %>

</body>
</html>